.wrap {
    display: flex;
    flex-direction: column;
    /*width: 400px;*/
    /*height: 400px;*/
    text-align: center;
}

.BOX {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.image {
    width: 20px;
    height: 20px;

}

.image2 {
    font-size: 36px;
}

.blockA {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    color: gray;

}

.box1234 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid white;
    width: 200px;
    height: 300px;
    box-shadow: 1px 3px 1px 1px silver;
    margin: 5px;


}

/*.box1 , .box2 , .box3 , .box4{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 10px;*/
/*    align-items: center;*/
/*    background: yellowgreen;*/
/*}*/

p {
    color: orange;
}

.box1 {

    margin: 10px;

}

.box2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;

}

.box4 {

    background: rgb(85, 195, 182);
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 40px;
    padding: 5px;
    color: white;


}

.box3 {
    display: flex;
    flex-direction: column;
    text-align: justify-all;
    margin: 20px;
    color: silver;








