.flex{
    display: flex;
}
.flexdirow{
    flex-direction: row;
}
.flexdircol{
    flex-direction: column;
}
.baggray{
    background: gray;
}

.w400{
    width: 400px;
}

.h300{
    height: 300px;
}
.borrad5{
    border-radius: 5px;
}

.border{
    border: 5px solid silver;
}

.margtop5{
    margin-top: 5px;
}
.margle5{
    margin-left: 5px;
}
.margbo5{
    margin-bottom: 5px;
}
.margri5{
    margin-right: 5px;
}

.borrad5{
    border-radius: 5px;
}

.w100{
    width: 100px;
}
.h100{
    height: 100px;
}
.h185{
    height: 185px;
}

.w250{
    width: 250px;
}

.w135{
    width: 135px;
}

.text{
    text-align: center;
}

.h50{
    height: 50px;
}

.w300{
    width: 300px;
}
.h205{
    height: 205px;
}

.w85{
    width: 85px;
}

.w97{
    width: 97px;
}

.margtop10{
    margin-top: 10px;
}

@media screen  and (min-width: 0) and (max-width: 310px){

    .wrap{
        width: 280px;
        line-height: 55px;

    }

.blockB{
    display: flex;
    flex-direction: column;
    line-height: 95px;

}
    .blockF{
        display: flex;
        flex-direction: column;

    }

    .boxA{
        width: 270px;
        height: 50px;
        margin-right:5px ;
        margin-left: 5px;
    }
    .boxB{
        width: 270px;
        height: 100px;
        margin-right:5px ;
        margin-left: 5px;

    }
    .blbot{
        display: flex;
        line-height: 55px;
        justify-content: space-between;
    }
    .boxC{
        width: 60px;
        height: 60px;

    }
    .boxD{
        width: 60px;
        height: 60px;
    }
    .boxE{
        width: 60px;
        height: 60px;
        margin-right: 5px;
    }
    .boxF{
        width: 270px;
        height: 60px;
        margin-right: 5px;
        line-height: 55px;

    }
}

