.container {
    width: 300px;
    /*height: 300px;*/
    background: silver;
    /*box-sizing: border-box;*/
    text-align: center;
    padding: 5px;
}

.widgets {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: cornflowerblue;
    width: 300px;
    height: 200px;

}

.widgets123 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;



}

.widgets1 {
    background: cornflowerblue;
    width: 200px;
    height: 100px;
    margin: 5px 0px 5px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.widgets2 {
    background: cornflowerblue;
    width: 200px;
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.widgets3 {
    background: cornflowerblue;
    width: 200px;
    height: 100px;
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.contact {
    background: cornflowerblue;
    width: 300px;
    height: 300px;
    /*margin: 5px;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}
