.wrap{
    max-width: 800px;
    width: 100%;
}
.B1, .B2{
    display: flex;
    flex-direction: row;
}
.boxtop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;

}

.boxtl , .boxtr{
    width: 70px;
    height: 20px;
    background: silver;
    margin: 10px;
}

.boxbottom{
    display: flex;
    flex-direction: row;
    height: 800px;
}

.boxbl{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    height: 750px;


}

.box1{
    width: 70px;
    height: 20px;
    background: silver;
    margin: 5px;
}

.boxbr{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*border: 2px solid black;*/
}

.secA{
    /*width: 100%;*/
    height: 200px;
    border: 2px solid black;
    border-top: 0;

}
.box2{
    /*width: 100%;*/
    height: 180px;
    background: silver;
    margin: 10px;
}

.secB {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    border-top: 0;


}

.secB1, .secB2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.box3{
    width: 100px;
    height: 70px;
    background: silver;
    margin: 5px;
}

.secC{
    display: flex;
    flex-direction: row;
}

.seccl {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-top: 0;

}
.box4{
    width: 120px;
    height: 80px;
    background: silver;
}

.container-5 {
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 2px;
    border-top: 0;
}

.blocks-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blocks-containern {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    width: 100%;
    height: 50px;
    background-color: silver;
    margin: 3px;
}

.container-5right{
    max-width: 110px;
    width: 100%;
    height: 394px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-left: 0;
    border-top: 0;
}

.block1{
    width: 95%;
    height: 20px;
    background-color: silver;
    margin: 3px;
}
.block2{
    width: 95%;
    height: 20px;
    background-color: silver;
    margin: 3px;
}

.secD{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    border-top: 0;

}


.box7{
    width: 200px;
    height: 20px;
    background: silver;
    margin: 10px 0px;
}
.box8{
    width: 50px;
    height: 20px;
    background: silver;
    margin: 5px;
}

@media only screen and (max-width: 750px) {

    .wrap{
        max-width: 740px;
        height: 600px;
        margin-left: 5px;
    }

    .blocks-container {
        flex-direction: row;
        justify-content: center;
 }
    .block{
        width: 100%;
        height: 50px;

    }
    .boxbl{
        display: none;
    }
    .blocks-containern{
        display: none;
        justify-content: left;
    }
    .secB{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .secB1, .secB2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 10px;


    }
    .container-5{
        width: 98.9%;
    }

    .container-5right_1{
        width: 50%;
    }
    .block2{
        width: 50%;
        height: 66px;
    }



    .box3{
        width: 100%;
        height: 50px;
    }

    .container-5right{
        display: flex;
        flex-direction: row;
        max-width: none;
        width: 99.4%;
        height: 100%;
        border-left: 2px solid black;
    }
    .secC{
        display: flex;
        flex-direction: column;
        width: 99.8%;
    }

}
@media only screen and (max-width: 600px){

    .blocks-container {
        flex-direction: column;
        justify-content: center;
    }
    .wrap{
        width: 100%;
    }
    .boxtop{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .boxtl, .boxtr{
        width: 80px;
        height: 10px;
        margin-bottom: 0;
    }
    .boxbl{
        display: none;
    }
    .container-5right_1{
        width: 100%;
        margin-left: 5px;
    }
    .container-5right{
        display: flex;
        flex-direction: column;
        align-items: center;
        /*max-width: none;*/
        height: 99.5%;
        border-left: 2px solid black;
    }

    .container-5{
        width: 98.5%;
    }
.block{
    /*margin-right: 5px;*/
    width: 99%;
}
    .block2{
        width: 98%;
        margin: 5px;
    }
    .block1{
        width: 98%;
    }

    .secD{
        display: flex;
        flex-direction: column-reverse;
    }

}