.wrap{
    width: 800px;
}
.B1, .B2{
    display: flex;
    flex-direction: row;
}
.boxtop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;

}

.boxtl , .boxtr{
    width: 70px;
    height: 20px;
    background: silver;
    margin: 10px;
}

.boxbottom{
    display: flex;
    flex-direction: row;
    height: 800px;
}

.boxbl{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    height: 750px;


}

.box1{
    width: 70px;
    height: 20px;
    background: silver;
    margin: 5px;
}

.boxbr{
    display: flex;
    flex-direction: column;
    /*border: 2px solid black;*/
}

.secA{
    width: 714px;
    height: 200px;
    border: 2px solid black;
    border-top: 0;

}
.box2{
    width: 690px;
    height: 180px;
    background: silver;
    margin: 10px;
}

.secB {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    border-top: 0;


}
.sb1 , .sb2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.secb1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box3{
    width: 100px;
    height: 70px;
    background: silver;
    margin: 5px;
}

.secC{
    display: flex;
    flex-direction: row;
}

.seccl {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-top: 0;

}
.box4{
    width: 120px;
    height: 80px;
    background: silver;
}

.container-5 {
    max-width: 600px;
    width: 100%;
    height: 390px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 2px;
    border-top: 0;
}

.blocks-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blocks-containern {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    width: 100%;
    height: 50px;
    background-color: silver;
    margin: 3px;
}

.container-5right{
    max-width: 110px;
    width: 100%;
    height: 394px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-left: 0;
    border-top: 0;
}

.block1{
    width: 95%;
    height: 20px;
    background-color: silver;
    margin: 3px;
}
.block2{
    width: 95%;
    height: 20px;
    background-color: silver;
    margin: 3px;
}

.secD{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    border-top: 0;

}


.box7{
    width: 200px;
    height: 20px;
    background: silver;
    margin: 10px 0px;
}
.box8{
    width: 50px;
    height: 20px;
    background: silver;
    margin: 5px;
}

@media only screen and (max-width: 400px) {
    .container-5{
        height: 170px;
    }
    .blocks-container {
        flex-direction: row;
        justify-content: center;
    }
    .wrap{
        width: 380px;
        height: 600px;
        margin-left: 5px;
    }
    .block{
        width: 180px;
        height: 50px;
    }
    .boxbl{
        display: none;
    }
    .blocks-containern{
        display: none;
        justify-content: left;
    }
    .secA {
        width: 376px;
    }
    .box2{
        width: 360px;
    }
    .secB{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 376px;
    }
    .box3{
        width: 50px;
        height: 50px;
    }

    .container-5right{
        display: none;
    }
}
@media only screen and (max-width: 300px){

    .blocks-container {
        flex-direction: column;
        justify-content: center;
    }
    .wrap{
        width: 280px;
    }
    .boxtop{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .boxtl, .boxtr{
        width: 80px;
        height: 10px;
        margin-bottom: 0;
    }
    .boxbl{
        display: none;
    }
    .secA{
        width: 276px;
    }
    .box2{
        width: 255px;
    }
.secB{
    width: 276px;
    display: flex;
    flex-direction: column;
}
.secB1{
    display: flex;
    justify-content: space-between;
}
}